@font-face { 
    
    font-family: "Latotitles";
    src: url(../fonts/static/Rubik-Bold.ttf);
    font-family: "Latops";
    src: url(../fonts/static/Rubik-Light.ttf);
} 

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(195, 211, 226);
    align-items: center;
    justify-content: space-evenly; 
    margin-top: 100px;  
    margin-bottom: 100px;

}

.nav{
    background-color: white;
    display:flex;
    flex-direction: row;
    height:100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    position: fixed;
    top: 0%;
    z-index: 3;
}

.nav a{
    color: rgba(8, 61, 97, 0.815);
    text-decoration: none;
    font-family: "Latops";
    font-weight:bold;
}

ul{
    list-style-type: none;
}

.ulc{
    text-align: center;
}

h1{
    color: rgb(206, 156, 162);
    font-family: "Latops";
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

h5{
    font-size: 100px;

}

.vidimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imggroup{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
   
}


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "C C P P"
      "C C S S"
      "R GU H D";
      margin-left: 7%;
  }

 
  .accordion {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
   
  }

  .accordion-button{
    position: inherit;
    z-index: -3;
  }
 
  .imgg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

  .C { grid-area: C; }
  
  .R { grid-area: R; }
  
  .S { grid-area: S; }
  
  .GU { grid-area: GU; }
  
  .H { grid-area: H; }
  
  .D { grid-area: D; }
  
  .P { grid-area: P; }

  .A { grid-area: A; }
  
  .B { grid-area: B; }

  .Z { grid-area: Z; }
  

  
p{
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Latops";
}

@media (max-width: 800px){
    body {
        margin-top: 200px;
    }
}
@media (max-width:700px ){
           .container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas:
                "C"
                "R"
                "S"
                "GU"
                "H"
                "D"
                "P"     
          
        }
   
}




@media (max-width:794px ){
    
        .nav {
            height: 200px;    
          
        }
   
}



.footer{
    background-color:rgba(8, 61, 97, 0.815);
    display:flex;
    flex-direction: row;
    height: 100px;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: "Latotitles";
    color: white;
    position: fixed
;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 1px solid black;
    align-items: center;
    margin-top: auto;
           
     
    
}