@font-face { 
    
    font-family: "Latotitles";
    src: url(../fonts/static/Rubik-Bold.ttf);
    font-family: "Latops";
    src: url(../fonts/static/Rubik-Light.ttf);
} 

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(182, 205, 228);
    align-items: center;
    justify-content: space-evenly;   
}

.nav{
    background-color: white;
    display:flex;
    flex-direction: row;
    height:100px;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
 
}

.nav a{
    color: rgba(8, 61, 97, 0.815);
    text-decoration: none;
    font-family: "Latops";
    font-weight:bold;
}

ul{
    list-style-type: none;
}

.ulc{
    text-align: center;
}

h1{
    color: rgb(206, 156, 162);
    font-family: "Latops";
    font-size: 80px;
    text-align: center;
    margin: 30px;
}

.vidimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imggroup{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
   
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "C C P P"
      "C C S S"
      "R GU H D";
      margin: 30px;
  }
  
  .C { grid-area: C; }
  
  .R { grid-area: R; }
  
  .S { grid-area: S; }
  
  .GU { grid-area: GU; }
  
  .H { grid-area: H; }
  
  .D { grid-area: D; }
  
  .P { grid-area: P; }
  
  
p{
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Latops";
}

.footer{
    background-color:rgba(8, 61, 97, 0.815);
    display:flex;
    flex-direction: row;
    height: 100px;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: "Latotitles";
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border: 1px solid black;
    align-items: center;
           
     
    
}