.footer{
    @extend .barra;
    background-image: linear-gradient(to left, $lblue, $turquiose);
    width: auto; 
    bottom: 0;
    right: 0;
    width: 100%;
    border: 2px solid $turquiose;
    margin-top: auto;
}

.agranda {
    width: 400px;
    &:hover{       
    width: 500px;
 }
}
 