.nav{
    @extend .barra;
    background-color: white;
    text-wrap: wrap;
    width: 100%;  
    font-size: 30px;
    top: 0%;
    z-index: 3;
        
    a{
    color: $teal;
    text-decoration: none;
    font-family: $fuente-nav;
    font-weight:bold;
}
}

.latido{
    animation: latido 3s infinite;
  }