.navbar{
    @extend .barra;
    background-color: white;
    opacity: 0.9;
    text-wrap: wrap;
    width: 100%;  
    font-size: 30px;
    top: 0px;
    z-index: 3;
}

.container-fluid{
  color: $teal;
    text-decoration: none;
    font-family: $fuente-nav;
    font-weight:bold;
    font-size: 20px;
    background-color: white;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
