//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&display=swap');

$fuente-nav: "Raleway", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
$fuente-titulo: "Rubik", sans-serif;

//Iconos
.fa-bell{
    color: rgb(41, 165, 199);
    font-size: 20;
    padding: 0 5px;
}